In [2]:
from scipy.stats import gamma
import pandas as pd
import numpy as np
import datetime

# astronomical data

sunrise, sunset, moonrise, moonset, moonphase

In [137]:
# sunrise/set

# Emeryville, CA
lat=37.831318
lon=-122.28524

def get_url(lat, lon, year):
    return f'https://www.esrl.noaa.gov/gmd/grad/solcalc/table.php?lat={lat}&lon={lon}&year={year}'

def make_date(year, day, month):
    return year + '-' + str(month_dict[month]) + '-' + str(day)

# third table is solar noon, not using
sunrise_2020, sunset_2020, _ = pd.read_html(get_url(lat, lon, 2020))

# sunrise/set 2019
sunrise_2019, sunset_2019, _ = pd.read_html(get_url(lat, lon, 2019))


months = [
    'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec'
]
month_numbers = list(range(1, len(months) + 1))
month_dict = {months[x]: month_numbers[x] for x in range(len(months))}


def reshape_make_date(raw_input, year, sunrise=False):
    if sunrise:
        value_name = 'sunrise'
    else:
        value_name = 'sunset'
        
    solar_times = raw_input.melt(
        id_vars='Day', 
        value_vars=months,
        var_name='month', 
        value_name=value_name
    )
    solar_times['year'] = year
    solar_times['date'] = solar_times[['year', 'Day', 'month']].apply(
        lambda x: make_date(x.year, x.Day, x.month), axis=1
    )
    solar_times['date'] = pd.to_datetime(solar_times['date'], errors='coerce')
    del solar_times['Day']
    del solar_times['month']
    del solar_times['year']
    return solar_times


sr_2019 = reshape_make_date(sunrise_2019, '2019', sunrise=True)
ss_2019 = reshape_make_date(sunset_2019, '2019', sunrise=False)
sr_2020 = reshape_make_date(sunrise_2020, '2020', sunrise=True)
ss_2020 = reshape_make_date(sunset_2020, '2020', sunrise=False)

sunrise = pd.concat([sr_2019, sr_2020])
sunset = pd.concat([ss_2019, ss_2020])

# Clean Sierra data

In [138]:
df = pd.read_csv('./data.csv')

df = df.loc[df.Activity=='Nursing', [
    'Date and Time', 'End Time', 'Duration (min)', 'Text'
]]

df.rename(columns={
    'Date and Time': 'start', 
    'End Time': 'end', 
    'Duration (min)': 'duration', 
    'Text': 'notes'
}, inplace=True)

df.start = pd.to_datetime(df.start)
df.end = pd.to_datetime(df.end)

df = df[~df['end'].isnull()]
df['duration'] = df['duration'].astype(int)
df['left'] = 0
df['right'] = 0

for index, feeding in df.iterrows():
    sides = {
        'left': 0,
        'right': 0
    }
    try:
        clean_string = (
            feeding['notes'].split('(')[1]
                   .split(')')[0]
                   .replace(',', '')
                   .replace('m', '')
                   .split(' ')
        )
        for side in sides:
            try:
                sides[side] = clean_string[clean_string.index(side) - 1]
#                 if 'h' in sides[side]:
#                     hour_min = sides[side].split('h')
#                     mins = int(hour_min[0]) * 60 + int(hour_min[1])
                    
                df.loc[index, side] = sides[side]
            except ValueError:
                pass
            
    except:
        # have spurious rows like 'Sierra Marie Guignard nursed'
        pass

In [139]:
def hour_splitter(string):

    if type(string) is int:
        return string
    elif 'h' in string: 
        h, m = string.split('h')
        if not m:
            m = 0
        return 60 * int(h) + int(m)
    else:
        return string


df['left'] = df['left'].apply(hour_splitter)
df['right'] = df['right'].apply(hour_splitter)
df['left'] = df['left'].astype(int)
df['right'] = df['right'].astype(int)

df['date'] = df['start'].dt.date
df['date'] = pd.to_datetime(df['date'])

In [140]:
# moon phase
# moon rise
# sunrise
# sunset
# time of day (feeding)
df = df.merge(sunrise, how='left').merge(sunset, how='left')

In [142]:
# create days_old and weeks_old

df['birthday'] = pd.to_datetime(datetime.date(2019, 10, 18))

df['days_old'] = (df['start'] - df['birthday']).dt.days
df['weeks_old'] = df['days_old'] // 7
del df['birthday']

In [143]:
df

,start,end,duration,notes,left,right,date,sunrise,sunset,days_old,weeks_old
0,2020-03-25 14:02:00,2020-03-25 14:12:00,10,"Sierra Marie Guignard nursed (6m right, 4m left)",4,6,2020-03-25,07:04,19:26,159,22
1,2020-03-25 10:48:00,2020-03-25 10:59:00,10,"Sierra Marie Guignard nursed (5m right, 5m left)",5,5,2020-03-25,07:04,19:26,159,22
2,2020-03-25 07:39:00,2020-03-25 08:14:00,35,"Sierra Marie Guignard nursed (25m left, 10m ri...",25,10,2020-03-25,07:04,19:26,159,22
3,2020-03-24 19:27:00,2020-03-24 19:38:00,11,"Sierra Marie Guignard nursed (5m right, 6m left)",6,5,2020-03-24,07:06,19:25,158,22
4,2020-03-24 15:51:00,2020-03-24 15:59:00,8,"Sierra Marie Guignard nursed (5m left, 3m right)",5,3,2020-03-24,07:06,19:25,158,22
...,...,...,...,...,...,...,...,...,...,...,...
1048,2019-10-18 19:12:00,2019-10-18 19:32:00,20,"Baby nursed (10m right, 10m left)",10,10,2019-10-18,07:20,18:28,0,0
1049,2019-10-18 15:54:00,2019-10-18 16:26:00,32,"Baby nursed (22m right, 10m left)",10,22,2019-10-18,07:20,18:28,0,0
1050,2019-10-18 13:22:00,2019-10-18 13:24:00,2,Baby nursed (2m right),0,2,2019-10-18,07:20,18:28,0,0
1051,2019-10-18 10:45:00,2019-10-18 10:55:00,10,Baby nursed (10m left),10,0,2019-10-18,07:20,18:28,0,0
1052,2019-10-18 08:00:00,2019-10-18 08:10:00,10,Baby nursed (10m right),0,10,2019-10-18,07:20,18:28,0,0

Example of d3 using time format we have here: https://gist.github.com/d3netxer/10a28b7aee406f4e7fce

# TODO:

- moonrise/moonset/moonphase

In [144]:
df.to_csv('./data_clean.csv', index=False)